In [1]:
import geopandas as gpd
import pandas as pd
import lonboard
from glob import glob
import numpy as np
import matplotlib.pyplot as plt

In [2]:
files= glob(f"/data/uscuni-ulce/germany_ages/DE*.csv")
files

['/data/uscuni-ulce/germany_ages/DE5.csv',
 '/data/uscuni-ulce/germany_ages/DEE.csv',
 '/data/uscuni-ulce/germany_ages/DE6.csv',
 '/data/uscuni-ulce/germany_ages/DED.csv',
 '/data/uscuni-ulce/germany_ages/DE8.csv',
 '/data/uscuni-ulce/germany_ages/DE4.csv',
 '/data/uscuni-ulce/germany_ages/DEC.csv',
 '/data/uscuni-ulce/germany_ages/DEG.csv',
 '/data/uscuni-ulce/germany_ages/DEB.csv',
 '/data/uscuni-ulce/germany_ages/DE3.csv',
 '/data/uscuni-ulce/germany_ages/DEF.csv',
 '/data/uscuni-ulce/germany_ages/DE9.csv',
 '/data/uscuni-ulce/germany_ages/DE2.csv',
 '/data/uscuni-ulce/germany_ages/DE7.csv',
 '/data/uscuni-ulce/germany_ages/DEA.csv',
 '/data/uscuni-ulce/germany_ages/DE1.csv']

In [3]:
ages = []
for f in files:
    table = pd.read_csv(f)
    ages.append(table)
ages_df = pd.concat(ages)
ages_df

,id,position,construction_year,size_class,refurbishment_state,tabula_type
0,DE5_309840595,POINT(4250720.208517529 3326102.466691112),"{""value"": 1954, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou..."
1,DE5_364090608,POINT(4228835.452310215 3377853.156032139),"{""value"": 2003, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.10.Gen.ReEx.001.002"", ""sou..."
2,DE5_566552316,POINT(4246816.204343311 3331730.2047781134),"{""value"": 1968, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou..."
3,DE5_653691120,POINT(4246866.911452751 3334315.7431794857),"{""value"": 1963, ""source"": ""census_2011_buildin...","{""value"": ""MFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.MFH.05.Gen.ReEx.001.001"", ""sou..."
4,DE5_238389200,POINT(4240151.568795106 3328802.040479857),"{""value"": 1960, ""source"": ""census_2011_buildin...","{""value"": ""MFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.MFH.05.Gen.ReEx.001.002"", ""sou..."
...,...,...,...,...,...,...
2214367,DE1_158001007,POINT(4302205.95633054 2732453.7163543915),"{""value"": 1958, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou..."
2214368,DE1_159816104,POINT(4168534.15244564 2743297.324621957),"{""value"": 1876, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.001"", ""sou..."
2214369,DE1_1039490781,POINT(4232463.709715326 2808576.524865913),"{""value"": 1966, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.001"", ""sou..."
2214370,DE1_109846160,POINT(4308337.270220149 2731915.0891361744),"{""value"": 1932, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.03.Gen.ReEx.001.001"", ""sou..."
2214371,DE1_130574978,POINT(4270083.314347407 2849860.154183878),"{""value"": 1962, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.001"", ""sou..."

In [4]:
#ages_df['geometry'] = ages_df['position'].apply(loads)
ages_df['year'] = ages_df['construction_year'].apply(lambda x: int(x[10:14]))
ages_df

,id,position,construction_year,size_class,refurbishment_state,tabula_type,year
0,DE5_309840595,POINT(4250720.208517529 3326102.466691112),"{""value"": 1954, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou...",1954
1,DE5_364090608,POINT(4228835.452310215 3377853.156032139),"{""value"": 2003, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.10.Gen.ReEx.001.002"", ""sou...",2003
2,DE5_566552316,POINT(4246816.204343311 3331730.2047781134),"{""value"": 1968, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou...",1968
3,DE5_653691120,POINT(4246866.911452751 3334315.7431794857),"{""value"": 1963, ""source"": ""census_2011_buildin...","{""value"": ""MFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.MFH.05.Gen.ReEx.001.001"", ""sou...",1963
4,DE5_238389200,POINT(4240151.568795106 3328802.040479857),"{""value"": 1960, ""source"": ""census_2011_buildin...","{""value"": ""MFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.MFH.05.Gen.ReEx.001.002"", ""sou...",1960
...,...,...,...,...,...,...,...
2214367,DE1_158001007,POINT(4302205.95633054 2732453.7163543915),"{""value"": 1958, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou...",1958
2214368,DE1_159816104,POINT(4168534.15244564 2743297.324621957),"{""value"": 1876, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.001"", ""sou...",1876
2214369,DE1_1039490781,POINT(4232463.709715326 2808576.524865913),"{""value"": 1966, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.001"", ""sou...",1966
2214370,DE1_109846160,POINT(4308337.270220149 2731915.0891361744),"{""value"": 1932, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.03.Gen.ReEx.001.001"", ""sou...",1932
2214371,DE1_130574978,POINT(4270083.314347407 2849860.154183878),"{""value"": 1962, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.001"", ""sou...",1962

In [5]:
geoms = gpd.GeoSeries.from_wkt(ages_df.position, crs=3035).to_crs(4326)

In [6]:
gdf = gpd.GeoDataFrame(ages_df[['year', 'id']], geometry=geoms)

In [7]:
gdf

         year              id                  geometry
0        1954   DE5_309840595  POINT (8.95227 53.03883)
1        2003   DE5_364090608   POINT (8.61117 53.5005)
2        1968   DE5_566552316  POINT (8.89279 53.08888)
3        1963   DE5_653691120  POINT (8.89295 53.11212)
4        1960   DE5_238389200  POINT (8.79407 53.06161)
...       ...             ...                       ...
2214367  1958   DE1_158001007  POINT (9.74973 47.70541)
2214368  1876   DE1_159816104   POINT (7.9663 47.78442)
2214369  1966  DE1_1039490781  POINT (8.80514 48.38422)
2214370  1932   DE1_109846160  POINT (9.83139 47.70072)
2214371  1962   DE1_130574978  POINT (9.30769 48.75991)

[19420827 rows x 3 columns]

In [8]:
morphotopes = gpd.read_parquet("/data/uscuni-ulce/data_product/germany_morphotopes.parquet")
morphotopes

,geometry,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label
morph,,,,,,,,,
1154_193_0,"MULTIPOLYGON (((6.73079 49.18655, 6.73079 49.1...",False,1,2,4,6,10,21,43
1154_193_6,"MULTIPOLYGON (((6.72705 49.17298, 6.72705 49.1...",False,1,2,5,8,13,25,50
1154_193_7,"MULTIPOLYGON (((6.74446 49.18361, 6.74446 49.1...",False,1,2,5,8,13,25,50
1154_193_12,"MULTIPOLYGON (((6.74021 49.18476, 6.74016 49.1...",False,1,2,3,4,7,15,31
1154_193_10,"MULTIPOLYGON (((6.74131 49.18148, 6.74131 49.1...",False,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
51289_8434_0,"MULTIPOLYGON (((13.31437 48.3281, 13.31434 48....",False,1,2,5,8,13,25,50
51289_8434_-1,"MULTIPOLYGON (((13.31333 48.32702, 13.31321 48...",True,1,1,1,1,2,3,4
51289_8434_1,"MULTIPOLYGON (((13.31505 48.32812, 13.31501 48...",False,1,2,4,6,10,20,41
51289_8434_10,"MULTIPOLYGON (((13.31017 48.32309, 13.30973 48...",False,2,4,7,13,20,48,90
51289_8441_-1,"MULTIPOLYGON (((13.32265 48.32255, 13.32265 48...",True,2,4,7,13,20,48,89

In [27]:
morphotopes_no_noise = morphotopes[~morphotopes.initially_noise]

In [28]:
morphotopes_no_noise.index.is_unique

True

In [29]:
joined_morphotopes = gdf.sjoin(morphotopes_no_noise[["geometry"]], predicate="within")
joined_morphotopes

         year              id                   geometry         morph
0        1954   DE5_309840595   POINT (8.95227 53.03883)   4214_0_1553
3        1963   DE5_653691120   POINT (8.89295 53.11212)    4214_0_986
4        1960   DE5_238389200   POINT (8.79407 53.06161)    4214_0_507
7        1955   DE5_122698475   POINT (8.77755 53.10915)    4214_0_950
9        1964   DE5_174308760   POINT (8.81031 53.08931)     4214_0_75
...       ...             ...                        ...           ...
2214365  1963   DE1_135256811   POINT (9.23611 48.67069)   14679_62_18
2214366  1962   DE1_139877724  POINT (10.20963 48.94065)   26888_138_7
2214369  1966  DE1_1039490781   POINT (8.80514 48.38422)     13482_4_0
2214370  1932   DE1_109846160   POINT (9.83139 47.70072)   18557_101_0
2214371  1962   DE1_130574978   POINT (9.30769 48.75991)  14679_2_1865

[17853688 rows x 4 columns]

In [30]:
grouped = joined_morphotopes.groupby("morph")

In [33]:
grouped_stats = grouped.agg(
    num_buildings=('year', 'count'),  # <-- total number of buildings (rows)

    year_mean=('year', 'mean'),
    year_median=('year', 'median'),
    year_min=('year', 'min'),
    year_q10=('year', lambda x: x.quantile(0.1)),
    year_q90=('year', lambda x: x.quantile(0.9)),
    year_max=('year', 'max'),
    year_std=('year', 'std'),

).round(2)
grouped_stats

,num_buildings,year_mean,year_median,year_min,year_q10,year_q90,year_max,year_std
morph,,,,,,,,
10019_0_0,27,1966.26,1967.0,1950,1956.6,1977.4,1979,8.13
10019_0_1,76,1962.92,1962.5,1949,1953.0,1972.5,1978,7.54
10019_0_10,31,1961.06,1963.0,1925,1948.0,1975.0,1990,14.46
10019_0_11,62,1966.08,1968.0,1949,1953.2,1975.0,1978,7.97
10019_0_12,30,1960.57,1959.0,1949,1950.0,1973.3,1978,8.68
...,...,...,...,...,...,...,...,...
9972_9_5,43,1964.16,1965.0,1949,1954.0,1973.8,1978,8.44
9972_9_6,61,1966.30,1969.0,1949,1952.0,1978.0,1978,9.17
9972_9_7,70,1962.86,1962.0,1949,1950.0,1975.0,1978,9.02
9972_9_8,71,1973.31,1967.0,1950,1955.0,1999.0,2007,17.60
9972_9_9,98,1984.08,1998.5,1882,1954.7,2007.3,2008,23.88

In [26]:
grouped_stats.num_buildings.sum()

np.int64(19362452)

In [36]:
# Keep only morphs that exist in both DataFrames
morphotopes_age = morphotopes_no_noise.join(grouped_stats, how='inner', validate="1:1")
morphotopes_age

,geometry,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label,num_buildings,year_mean,year_median,year_min,year_q10,year_q90,year_max,year_std
morph,,,,,,,,,,,,,,,,,
1154_193_0,"MULTIPOLYGON (((6.73079 49.18655, 6.73079 49.1...",False,1,2,4,6,10,21,43,52,1973.29,1970.0,1949,1953.1,2001.9,2004,17.96
1154_193_6,"MULTIPOLYGON (((6.72705 49.17298, 6.72705 49.1...",False,1,2,5,8,13,25,50,51,1961.25,1960.0,1873,1953.0,1974.0,1976,14.93
1154_193_7,"MULTIPOLYGON (((6.74446 49.18361, 6.74446 49.1...",False,1,2,5,8,13,25,50,42,1960.57,1959.0,1908,1950.0,1973.8,1977,12.20
1154_193_12,"MULTIPOLYGON (((6.74021 49.18476, 6.74016 49.1...",False,1,2,3,4,7,15,31,20,1949.70,1953.0,1861,1939.4,1968.5,1975,24.45
1154_193_10,"MULTIPOLYGON (((6.74131 49.18148, 6.74131 49.1...",False,1,1,1,1,1,1,1,22,1962.64,1962.0,1950,1951.4,1975.7,1978,8.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51289_8434_14,"MULTIPOLYGON (((13.3172 48.32988, 13.31721 48....",False,1,2,5,8,12,23,47,26,1963.88,1964.0,1949,1951.0,1975.5,1978,9.45
51289_8434_11,"MULTIPOLYGON (((13.31421 48.32426, 13.31407 48...",False,1,2,5,8,13,25,50,48,1972.62,1971.0,1949,1952.7,1998.0,2000,16.73
51289_8434_0,"MULTIPOLYGON (((13.31437 48.3281, 13.31434 48....",False,1,2,5,8,13,25,50,28,1967.89,1967.5,1928,1944.5,1994.9,1999,21.07
51289_8434_1,"MULTIPOLYGON (((13.31505 48.32812, 13.31501 48...",False,1,2,4,6,10,20,41,32,1964.88,1963.0,1921,1949.2,1995.0,1999,17.39
51289_8434_10,"MULTIPOLYGON (((13.31017 48.32309, 13.30973 48...",False,2,4,7,13,20,48,90,35,1966.60,1967.0,1951,1954.4,1975.2,2000,10.58

In [37]:
morphotopes_age.to_parquet('/data/uscuni-ulce/germany_ages/morphotopes_age.parquet')