In [1]:
import geopandas as gpd
import pandas as pd
import lonboard
from glob import glob
import numpy as np
import matplotlib.pyplot as plt

In [2]:
files_age = glob(f"/data/uscuni-evolution/germany_ages/DE*.csv")
files_age

['/data/uscuni-evolution/germany_ages/DEA.csv',
 '/data/uscuni-evolution/germany_ages/DE9.csv',
 '/data/uscuni-evolution/germany_ages/DE7.csv',
 '/data/uscuni-evolution/germany_ages/DE2.csv',
 '/data/uscuni-evolution/germany_ages/DE8.csv',
 '/data/uscuni-evolution/germany_ages/DE6.csv',
 '/data/uscuni-evolution/germany_ages/DEF.csv',
 '/data/uscuni-evolution/germany_ages/DEG.csv',
 '/data/uscuni-evolution/germany_ages/DED.csv',
 '/data/uscuni-evolution/germany_ages/DE1.csv',
 '/data/uscuni-evolution/germany_ages/DEB.csv',
 '/data/uscuni-evolution/germany_ages/DEC.csv',
 '/data/uscuni-evolution/germany_ages/DE3.csv',
 '/data/uscuni-evolution/germany_ages/DE4.csv',
 '/data/uscuni-evolution/germany_ages/DE5.csv',
 '/data/uscuni-evolution/germany_ages/DEE.csv']

In [3]:
ages = []
for f in files_age:
    table = pd.read_csv(f)
    ages.append(table)
ages_df = pd.concat(ages)
ages_df

,id,position,construction_year,size_class,refurbishment_state,tabula_type
0,DEA_DENW14AL0000mH1V,POINT(4212457.9904114995 3189092.4863404115),"{""value"": 1976, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.06.Gen.ReEx.001.001"", ""sou..."
1,DEA_DENW14AL0000mHea,POINT(4212496.415440372 3187585.4835335244),"{""value"": 1958, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou..."
2,DEA_DENW15AL10002mM4,POINT(4229108.546602728 3222230.2340330947),"{""value"": 1996, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.09.Gen.ReEx.001.002"", ""sou..."
3,DEA_DENW15AL1000K1nf,POINT(4237001.388663602 3232318.445619957),"{""value"": 1951, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou..."
4,DEA_DENW16AL0000edrU,POINT(4278442.259278367 3177638.671389192),"{""value"": 1975, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.06.Gen.ReEx.001.002"", ""sou..."
...,...,...,...,...,...,...
813656,DEE_DEST_DESTLIKA0004Fpj9,POINT(4393586.761640169 3244639.839419589),"{""value"": 1862, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.002"", ""sou..."
813657,DEE_DEST_DESTLIKA0004GjIx,POINT(4372805.833404248 3205414.8172466587),"{""value"": 1942, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.03.Gen.ReEx.001.002"", ""sou..."
813658,DEE_DEST_DESTLIKA0004GRZ5,POINT(4378460.082326205 3207834.226237416),"{""value"": 1877, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.002"", ""sou..."
813659,DEE_DEST_DESTLIKA0004rDCJ,POINT(4401725.326838767 3180674.1615178115),"{""value"": 1949, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou..."
813660,DEE_DEST_DESTLIKA0005XhG6,POINT(4429297.471271686 3296296.5662222016),"{""value"": 1963, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou..."

In [4]:
#ages_df['geometry'] = ages_df['position'].apply(loads)
ages_df['year'] = ages_df['construction_year'].apply(lambda x: int(x[10:14]))
ages_df

,id,position,construction_year,size_class,refurbishment_state,tabula_type,year
0,DEA_DENW14AL0000mH1V,POINT(4212457.9904114995 3189092.4863404115),"{""value"": 1976, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.06.Gen.ReEx.001.001"", ""sou...",1976
1,DEA_DENW14AL0000mHea,POINT(4212496.415440372 3187585.4835335244),"{""value"": 1958, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou...",1958
2,DEA_DENW15AL10002mM4,POINT(4229108.546602728 3222230.2340330947),"{""value"": 1996, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.09.Gen.ReEx.001.002"", ""sou...",1996
3,DEA_DENW15AL1000K1nf,POINT(4237001.388663602 3232318.445619957),"{""value"": 1951, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou...",1951
4,DEA_DENW16AL0000edrU,POINT(4278442.259278367 3177638.671389192),"{""value"": 1975, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.06.Gen.ReEx.001.002"", ""sou...",1975
...,...,...,...,...,...,...,...
813656,DEE_DEST_DESTLIKA0004Fpj9,POINT(4393586.761640169 3244639.839419589),"{""value"": 1862, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.002"", ""sou...",1862
813657,DEE_DEST_DESTLIKA0004GjIx,POINT(4372805.833404248 3205414.8172466587),"{""value"": 1942, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.03.Gen.ReEx.001.002"", ""sou...",1942
813658,DEE_DEST_DESTLIKA0004GRZ5,POINT(4378460.082326205 3207834.226237416),"{""value"": 1877, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.002"", ""sou...",1877
813659,DEE_DEST_DESTLIKA0004rDCJ,POINT(4401725.326838767 3180674.1615178115),"{""value"": 1949, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou...",1949
813660,DEE_DEST_DESTLIKA0005XhG6,POINT(4429297.471271686 3296296.5662222016),"{""value"": 1963, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou...",1963

In [5]:
geoms = gpd.GeoSeries.from_wkt(ages_df.position, crs=3035)

In [6]:
gdf = gpd.GeoDataFrame(ages_df[['year', 'id']], geometry=geoms)
gdf

        year                         id                         geometry
0       1976       DEA_DENW14AL0000mH1V   POINT (4212457.99 3189092.486)
1       1958       DEA_DENW14AL0000mHea  POINT (4212496.415 3187585.484)
2       1996       DEA_DENW15AL10002mM4  POINT (4229108.547 3222230.234)
3       1951       DEA_DENW15AL1000K1nf  POINT (4237001.389 3232318.446)
4       1975       DEA_DENW16AL0000edrU  POINT (4278442.259 3177638.671)
...      ...                        ...                              ...
813656  1862  DEE_DEST_DESTLIKA0004Fpj9  POINT (4393586.762 3244639.839)
813657  1942  DEE_DEST_DESTLIKA0004GjIx  POINT (4372805.833 3205414.817)
813658  1877  DEE_DEST_DESTLIKA0004GRZ5  POINT (4378460.082 3207834.226)
813659  1949  DEE_DEST_DESTLIKA0004rDCJ  POINT (4401725.327 3180674.162)
813660  1963  DEE_DEST_DESTLIKA0005XhG6  POINT (4429297.471 3296296.566)

[19420827 rows x 3 columns]

In [7]:
files_morph = glob(f"/data/uscuni-ulce/data_product/de*_morphotopes.parquet")
morphotopes_list = []
for f in files_morph:
    data = gpd.read_parquet(f)
    morphotopes_list.append(data)
morphotopes = pd.concat(morphotopes_list).set_index("morphotope_id")
morphotopes

,geometry,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label
morphotope_id,,,,,,,,,
21904_1450_-1474,"MULTIPOLYGON (((4324696.741 3047574.552, 43246...",True,1,2,4,6,9,19,38
21904_1448_1,"MULTIPOLYGON (((4324315.825 3046254.826, 43243...",False,1,2,5,8,13,27,55
21904_1448_0,"MULTIPOLYGON (((4324277.274 3046327.723, 43242...",False,1,2,5,8,13,27,55
21904_1451_-1475,"MULTIPOLYGON (((4325456.491 3047509.468, 43254...",True,1,2,4,6,9,18,36
21904_1449_-1473,"MULTIPOLYGON (((4325235.589 3047568.722, 43252...",True,1,2,4,6,9,19,38
...,...,...,...,...,...,...,...,...,...
26468_1167_-2932,"MULTIPOLYGON (((4329335.496 2729046.791, 43293...",True,1,2,4,6,9,18,36
26468_2870_-2959,"MULTIPOLYGON (((4329118.616 2729464.301, 43291...",True,1,2,4,5,8,17,34
26468_1167_9,"MULTIPOLYGON (((4329198.789 2728648.948, 43291...",False,2,4,7,15,22,53,99
26468_1167_8,"MULTIPOLYGON (((4328388.687 2728213.01, 432838...",False,1,2,4,6,10,21,43
26468_2864_-2953,"MULTIPOLYGON (((4329468.087 2728522.837, 43294...",True,1,2,4,6,9,18,36

In [8]:
morphotopes_no_noise = morphotopes[~morphotopes.initially_noise]

In [9]:
morphotopes_no_noise.index.is_unique

True

In [10]:
joined_morphotopes = gdf.sjoin(morphotopes_no_noise[["geometry"]], predicate="within")
joined_morphotopes

,year,id,geometry,morphotope_id
0,1976,DEA_DENW14AL0000mH1V,POINT (4212457.99 3189092.486),4_514_13
1,1958,DEA_DENW14AL0000mHea,POINT (4212496.415 3187585.484),4_514_2
2,1996,DEA_DENW15AL10002mM4,POINT (4229108.547 3222230.234),4_847_2568
3,1951,DEA_DENW15AL1000K1nf,POINT (4237001.389 3232318.446),4_847_521
4,1975,DEA_DENW16AL0000edrU,POINT (4278442.259 3177638.671),19254_367_2
...,...,...,...,...
813656,1862,DEE_DEST_DESTLIKA0004Fpj9,POINT (4393586.762 3244639.839),35246_58_3
813657,1942,DEE_DEST_DESTLIKA0004GjIx,POINT (4372805.833 3205414.817),32793_81_0
813658,1877,DEE_DEST_DESTLIKA0004GRZ5,POINT (4378460.082 3207834.226),32793_79_1
813659,1949,DEE_DEST_DESTLIKA0004rDCJ,POINT (4401725.327 3180674.162),35679_90_12
813660,1963,DEE_DEST_DESTLIKA0005XhG6,POINT (4429297.471 3296296.566),43495_163_0

In [11]:
bins = (0,1919,1948,1978,1986,1990,1995,2000,2004,2008,2030)
def mode_bin(x):
    binned = pd.cut(x, bins=bins, right=True)
    m = binned.mode()
    return m.iloc[0] if not m.empty else None

In [12]:
grouped = joined_morphotopes.groupby("morphotope_id")

In [13]:
grouped_stats = grouped.agg(
    num_buildings=('year', 'count'),  # <-- total number of buildings (rows)

    year_mean=('year', 'mean'),
    year_median=('year', 'median'),
    year_min=('year', 'min'),
    year_q10=('year', lambda x: x.quantile(0.1)),
    year_q90=('year', lambda x: x.quantile(0.9)),
    year_max=('year', 'max'),
    year_std=('year', 'std'),
    year_mode=('year', mode_bin)
).round(2)
grouped_stats

,num_buildings,year_mean,year_median,year_min,year_q10,year_q90,year_max,year_std,year_mode
morphotope_id,,,,,,,,,
10019_0_0,27,1966.26,1967.0,1950,1956.6,1977.4,1979,8.13,"(1948, 1978]"
10019_0_1,78,1963.10,1963.0,1949,1953.0,1973.0,1978,7.69,"(1948, 1978]"
10019_0_10,31,1961.06,1963.0,1925,1948.0,1975.0,1990,14.46,"(1948, 1978]"
10019_0_11,64,1965.61,1968.0,1949,1953.3,1975.0,1978,8.20,"(1948, 1978]"
10019_0_12,29,1960.45,1959.0,1949,1950.0,1973.6,1978,8.81,"(1948, 1978]"
...,...,...,...,...,...,...,...,...,...
9972_9_5,45,1963.87,1965.0,1949,1954.0,1973.6,1978,8.37,"(1948, 1978]"
9972_9_6,60,1966.35,1969.0,1949,1952.0,1978.0,1978,9.21,"(1948, 1978]"
9972_9_7,67,1962.70,1962.0,1949,1950.0,1975.0,1978,9.10,"(1948, 1978]"
9972_9_8,69,1973.55,1967.0,1950,1954.8,1999.2,2007,17.77,"(1948, 1978]"
9972_9_9,96,1984.25,2000.0,1882,1954.5,2007.5,2008,23.93,"(1948, 1978]"

In [14]:
grouped_stats.index.is_unique

True

In [15]:
# Keep only morphs that exist in both DataFrames
morphotopes_age = morphotopes_no_noise.join(grouped_stats, how='inner')
morphotopes_age

,geometry,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label,num_buildings,year_mean,year_median,year_min,year_q10,year_q90,year_max,year_std,year_mode
morphotope_id,,,,,,,,,,,,,,,,,,
21904_1448_1,"MULTIPOLYGON (((4324315.825 3046254.826, 43243...",False,1,2,5,8,13,27,55,46,1957.83,1957.0,1868,1910.5,1999.0,2000,34.76,"(1948, 1978]"
21904_1448_0,"MULTIPOLYGON (((4324277.274 3046327.723, 43242...",False,1,2,5,8,13,27,55,43,1929.79,1936.0,1863,1881.4,1975.4,2000,38.55,"(0, 1919]"
29344_127_5,"MULTIPOLYGON (((4325504.81 3048061.995, 432550...",False,1,2,5,8,13,27,55,65,1911.40,1909.0,1860,1868.2,1960.6,1997,34.80,"(0, 1919]"
29344_127_4,"MULTIPOLYGON (((4325695.146 3048046.646, 43256...",False,2,4,7,13,20,47,86,65,1914.29,1902.0,1863,1879.8,1967.0,1998,34.26,"(0, 1919]"
29344_127_2,"MULTIPOLYGON (((4325571.721 3047890.038, 43255...",False,2,4,7,12,19,45,82,26,1949.81,1955.5,1886,1910.5,1969.5,1977,23.94,"(1948, 1978]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27053_210_1,"MULTIPOLYGON (((4330639.63 2774092.038, 433063...",False,2,4,7,15,22,50,93,44,1978.93,1970.5,1951,1953.0,2006.7,2008,20.89,"(1948, 1978]"
25202_27_0,"MULTIPOLYGON (((4329009.557 2738156.632, 43290...",False,1,2,5,8,13,27,55,6,1895.00,1885.0,1860,1862.0,1938.0,1966,39.97,"(0, 1919]"
18557_597_2,"MULTIPOLYGON (((4329532.524 2733302.757, 43295...",False,1,2,5,8,13,29,59,35,1952.23,1962.0,1871,1902.6,1971.6,1976,28.39,"(1948, 1978]"
26468_1167_9,"MULTIPOLYGON (((4329198.789 2728648.948, 43291...",False,2,4,7,15,22,53,99,23,1923.65,1949.0,1862,1871.2,1971.8,1977,41.93,"(1948, 1978]"
26468_1167_8,"MULTIPOLYGON (((4328388.687 2728213.01, 432838...",False,1,2,4,6,10,21,43,10,1946.40,1959.0,1867,1900.3,1967.2,1969,33.60,"(1948, 1978]"

In [16]:
morphotopes_age.to_parquet('/data/uscuni-evolution/germany_ages/morphotopes_age.parquet')