In [2]:
import geopandas as gpd
import pandas as pd
import lonboard
from glob import glob
import numpy as np
import matplotlib.pyplot as plt

In [3]:
buildings = gpd.read_parquet("/data/uscuni-ulce/data_product/germany_buildings.parquet")
buildings

,geometry,morph,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label
1154_128838,"POLYGON ((6.72916 49.18968, 6.7293 49.18975, 6...",1154_193_5,False,2,4,7,15,22,53,99
1154_64297,"POLYGON ((6.72877 49.18983, 6.72884 49.18986, ...",1154_193_5,False,2,4,7,15,22,53,99
1154_128768,"POLYGON ((6.72803 49.18863, 6.72812 49.18865, ...",1154_193_5,False,2,4,7,15,22,53,99
1154_128731,"POLYGON ((6.72886 49.18893, 6.72896 49.18897, ...",1154_193_5,False,2,4,7,15,22,53,99
1154_128757,"POLYGON ((6.72863 49.18885, 6.72884 49.18895, ...",1154_193_5,False,2,4,7,15,22,53,99
...,...,...,...,...,...,...,...,...,...,...
51289_366054,"POLYGON ((13.3191 48.31965, 13.31912 48.31966,...",51289_8434_-1,True,1,2,3,4,7,13,28
51289_366051,"POLYGON ((13.31904 48.31971, 13.31907 48.31973...",51289_8434_-1,True,1,2,3,4,7,13,28
51289_366059,"POLYGON ((13.31923 48.31951, 13.31925 48.31952...",51289_8434_-1,True,1,2,3,4,7,13,28
51289_366056,"POLYGON ((13.31931 48.31942, 13.31933 48.31943...",51289_8434_-1,True,1,2,3,4,7,13,28
51289_366058,"POLYGON ((13.31936 48.31936, 13.31939 48.31937...",51289_8434_-1,True,1,2,3,4,7,13,28

In [3]:
files= glob(f"/data/uscuni-evolution/germany_ages/DE*.csv")
files

['/data/uscuni-evolution/germany_ages/DE5.csv',
 '/data/uscuni-evolution/germany_ages/DEE.csv',
 '/data/uscuni-evolution/germany_ages/DE6.csv',
 '/data/uscuni-evolution/germany_ages/DED.csv',
 '/data/uscuni-evolution/germany_ages/DE8.csv',
 '/data/uscuni-evolution/germany_ages/DE4.csv',
 '/data/uscuni-evolution/germany_ages/DEC.csv',
 '/data/uscuni-evolution/germany_ages/DEG.csv',
 '/data/uscuni-evolution/germany_ages/DEB.csv',
 '/data/uscuni-evolution/germany_ages/DE3.csv',
 '/data/uscuni-evolution/germany_ages/DEF.csv',
 '/data/uscuni-evolution/germany_ages/DE9.csv',
 '/data/uscuni-evolution/germany_ages/DE2.csv',
 '/data/uscuni-evolution/germany_ages/DE7.csv',
 '/data/uscuni-evolution/germany_ages/DEA.csv',
 '/data/uscuni-evolution/germany_ages/DE1.csv']

In [4]:
ages = []
for f in files:
    table = pd.read_csv(f)
    ages.append(table)
ages_df = pd.concat(ages)
ages_df

,id,position,construction_year,size_class,refurbishment_state,tabula_type
0,DE5_309840595,POINT(4250720.208517529 3326102.466691112),"{""value"": 1954, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou..."
1,DE5_364090608,POINT(4228835.452310215 3377853.156032139),"{""value"": 2003, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.10.Gen.ReEx.001.002"", ""sou..."
2,DE5_566552316,POINT(4246816.204343311 3331730.2047781134),"{""value"": 1968, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou..."
3,DE5_653691120,POINT(4246866.911452751 3334315.7431794857),"{""value"": 1963, ""source"": ""census_2011_buildin...","{""value"": ""MFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.MFH.05.Gen.ReEx.001.001"", ""sou..."
4,DE5_238389200,POINT(4240151.568795106 3328802.040479857),"{""value"": 1960, ""source"": ""census_2011_buildin...","{""value"": ""MFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.MFH.05.Gen.ReEx.001.002"", ""sou..."
...,...,...,...,...,...,...
2214367,DE1_158001007,POINT(4302205.95633054 2732453.7163543915),"{""value"": 1958, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou..."
2214368,DE1_159816104,POINT(4168534.15244564 2743297.324621957),"{""value"": 1876, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.001"", ""sou..."
2214369,DE1_1039490781,POINT(4232463.709715326 2808576.524865913),"{""value"": 1966, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.001"", ""sou..."
2214370,DE1_109846160,POINT(4308337.270220149 2731915.0891361744),"{""value"": 1932, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.03.Gen.ReEx.001.001"", ""sou..."
2214371,DE1_130574978,POINT(4270083.314347407 2849860.154183878),"{""value"": 1962, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.001"", ""sou..."

In [5]:
#ages_df['geometry'] = ages_df['position'].apply(loads)
ages_df['year'] = ages_df['construction_year'].apply(lambda x: int(x[10:14]))
ages_df

,id,position,construction_year,size_class,refurbishment_state,tabula_type,year
0,DE5_309840595,POINT(4250720.208517529 3326102.466691112),"{""value"": 1954, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.04.Gen.ReEx.001.002"", ""sou...",1954
1,DE5_364090608,POINT(4228835.452310215 3377853.156032139),"{""value"": 2003, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.10.Gen.ReEx.001.002"", ""sou...",2003
2,DE5_566552316,POINT(4246816.204343311 3331730.2047781134),"{""value"": 1968, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou...",1968
3,DE5_653691120,POINT(4246866.911452751 3334315.7431794857),"{""value"": 1963, ""source"": ""census_2011_buildin...","{""value"": ""MFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.MFH.05.Gen.ReEx.001.001"", ""sou...",1963
4,DE5_238389200,POINT(4240151.568795106 3328802.040479857),"{""value"": 1960, ""source"": ""census_2011_buildin...","{""value"": ""MFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.MFH.05.Gen.ReEx.001.002"", ""sou...",1960
...,...,...,...,...,...,...,...
2214367,DE1_158001007,POINT(4302205.95633054 2732453.7163543915),"{""value"": 1958, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""2"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.002"", ""sou...",1958
2214368,DE1_159816104,POINT(4168534.15244564 2743297.324621957),"{""value"": 1876, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""v4_model.json"", ""l...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.02.Gen.ReEx.001.001"", ""sou...",1876
2214369,DE1_1039490781,POINT(4232463.709715326 2808576.524865913),"{""value"": 1966, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.001"", ""sou...",1966
2214370,DE1_109846160,POINT(4308337.270220149 2731915.0891361744),"{""value"": 1932, ""source"": ""census_2011_buildin...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.03.Gen.ReEx.001.001"", ""sou...",1932
2214371,DE1_130574978,POINT(4270083.314347407 2849860.154183878),"{""value"": 1962, ""source"": ""v4_model.json"", ""li...","{""value"": ""SFH"", ""source"": ""census_2011_buildi...","{""value"": ""1"", ""source"": ""uba_renov"", ""lineage...","{""value"": ""DE.N.SFH.05.Gen.ReEx.001.001"", ""sou...",1962

In [6]:
geoms = gpd.GeoSeries.from_wkt(ages_df.position, crs=3035).to_crs(4326)

In [7]:
gdf = gpd.GeoDataFrame(ages_df[['year', 'id']], geometry=geoms)

In [ ]:
joined = buildings.sjoin(gdf, predicate='contains')

In [9]:
joined.to_parquet('/data/uscuni-evolution/germany_ages/buildings_age.parquet')

In [ ]:
morphotopes = gpd.read_parquet("/data/uscuni-ulce/data_product/germany_morphotopes.parquet")
morphotopes

In [19]:
morphotopes.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [20]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [ ]:
joined_morphotopes = gdf.sjoin(morphotopes[["geometry"]],predicate="within")
joined_morphotopes

In [ ]:
grouped = joined_morphotopes.groupby("morph")
df_size = grouped.size().reset_index()
df_size.columns = ['morph', 'num_buildings']
df_size

In [17]:
morphotopes.to_parquet('/data/uscuni-evolution/germany_ages/morphotopes_age.parquet')

In [ ]:
grouped_stats = grouped.agg(
    num_buildings=('year', 'count'),  # <-- total number of buildings (rows)
    
    year_mean=('year', 'mean'),
    year_median=('year', 'median'),
    year_min=('year', 'min'),
    year_q10=('year', lambda x: x.quantile(0.1)),
    year_q90=('year', lambda x: x.quantile(0.9)),
    year_max=('year', 'max'),
    year_std=('year', 'std'),

).round(2).reset_index()
grouped_stats

In [ ]:
# Make sure 'morph' is a column in both DataFrames
#morphotopes = morphotopes.reset_index()

# Keep only morphs that exist in both DataFrames
morphotopes_joined = grouped_stats.merge(morphotopes, on='morph', how='inner')
morphotopes_joined

In [63]:
morphotopes_joined.dropna(subset=['year_mean', 'num_buildings_y'])

,morph,num_buildings_x,year_mean,year_median,year_min,year_q10,year_q90,year_max,year_std,level_0,...,initially_noise,level_1_label,level_2_label,level_3_label,level_4_label,level_5_label,level_6_label,level_7_label,year,num_buildings_y
0,10019_0_-1,501,1963.03,1963.0,1919,1951.0,1976.0,2007,10.69,83494,...,True,1,1,1,1,1,1,1,1951.0,501.0
1,10019_0_-1,501,1963.03,1963.0,1919,1951.0,1976.0,2007,10.69,83497,...,True,1,2,4,5,8,17,35,1951.0,501.0
2,10019_0_-1,501,1963.03,1963.0,1919,1951.0,1976.0,2007,10.69,83498,...,True,1,2,4,5,8,17,34,1951.0,501.0
3,10019_0_-1,501,1963.03,1963.0,1919,1951.0,1976.0,2007,10.69,83503,...,True,1,1,1,1,1,1,1,1951.0,501.0
4,10019_0_-1,501,1963.03,1963.0,1919,1951.0,1976.0,2007,10.69,83506,...,True,1,1,1,1,1,1,1,1951.0,501.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508040,9972_9_5,43,1964.16,1965.0,1949,1954.0,1973.8,1978,8.44,79814,...,False,1,2,4,5,8,16,33,1954.0,43.0
508041,9972_9_6,61,1966.30,1969.0,1949,1952.0,1978.0,1978,9.17,79839,...,False,1,2,4,5,8,16,33,1952.0,61.0
508042,9972_9_7,70,1962.86,1962.0,1949,1950.0,1975.0,1978,9.02,79833,...,False,1,2,4,5,8,16,33,1950.0,70.0
508043,9972_9_8,71,1973.31,1967.0,1950,1955.0,1999.0,2007,17.60,79815,...,False,1,1,1,1,2,3,4,1955.0,71.0
508044,9972_9_9,98,1984.08,1998.5,1882,1954.7,2007.3,2008,23.88,79840,...,False,1,1,1,1,2,3,4,1954.7,98.0